.juz-container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}


/* Tablet */

@media (max-width: 900px) {

    .juz-container {
        grid-template-columns: repeat(2, 1fr);
    }

}


/* Mobile */

@media (max-width: 600px) {

    .juz-container {
        width: 92%;
        grid-template-columns: 1fr;
        gap: 15px;
    }

}